@media only screen and (max-width: 799px) {
  body {
    position: relative;
    background: none;
    background: #fff;
    font-size: 14px;
  }

  .l-page {
    overflow: inherit;
    width: 100%;
    min-width: 100%;
  }

  .l-headerApp {
    display: block;
  }

  .l-headerAppBanner_body strong {
    font-size: 16px;
  }

  .l-headerAppBanner_body p {
    font-size: 12px;
  }

  .l-headerAppBanner_button {
    font-size: 12px;
    padding: 0 10px;
  }

  [data-page-id=top] .l-headerApp+.l-header {
    position: absolute;
    padding-top: 70px;
  }

  .l-header {
    top: 0;
    left: 0;
    height: auto;
    min-height: 50px;
    margin-bottom: 0;
  }

  [data-page-id=top] .l-header {
    border-bottom: none;
    background: none;
    box-shadow: none;
  }

  .l-header_content {
    position: fixed;
    top: 0;
    background: #fff;
    z-index: 1000;
    overflow-y: visible;
    width: 100%;
    min-height: 50px;
    box-shadow: 0 0 5px 1px rgba(0,0,0,.05);
  }

  [data-page-id=top] .l-header_content {
    background: none;
  }

  .l-header_inner {
    position: relative;
    /* background: #fff; */
    z-index: 1000;
    width: 100%;
    min-height: 50px;
  }

  .p-globalNav {
    top: 17px;
    right: 20px;
  }

  .p-globalNav_link {
    display: none;
  }

  .p-actionNav {
    top: 18px;
    right: 10px;
    left: 0;
  }

  [data-page-id=top] .p-actionNav {
    right: 16px;
  }

  .p-actionNav_link--login {
    position: absolute;
    top: -1px;
    right: 60px;
    display: none;
  }

  [data-page-id=top] .p-actionNav_link--login {
    display: block;
  }

  .p-actionNav_link--login a {
    top: -4px;
  }

  .p-actionNav_link--register {
    position: absolute;
    top: -5px;
    right: 0;
    display: none;
  }

  [data-page-id=top] .p-actionNav_link--register {
    display: block;
  }

  .p-actionNav_link--button a {
    border-radius: 6px;
    font-size: 10px;
    line-height: 24px;
    text-align: center;
    width: 60px;
    height: 26px;
    padding: 0;
  }

  .p-menuButton {
    display: flex;
  }

  .p-menu_overlay {
    background: rgba(0,0,0,.5);
  }

  .p-menu_content {
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    pointer-events: none;
    width: 300px;
    height: 100vh;
    transition-timing-function: cubic-bezier(.215,.61,.355,1);
    transition-duration: .4s;
    transition-property: all;
    -webkit-transform: translateX(-300px);
    transform: translateX(-300px);
  }

  .p-menuNav {
    position: relative;
    top: 0;
    right: 0;
    border-radius: 0;
    background: none;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    padding: 40px 0 0;
    box-shadow: none;
    -webkit-overflow-scrolling: touch;
  }

  .p-menuNav_links {
    padding: 10px;
  }

  .p-menuNav_links.is-login {
    padding-top: 15px;
  }

  .p-menuNav_links:first-of-type {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }

  .p-menuNav_link a {
    font-size: 18px;
    padding: 10px;
  }

  .p-menuNav_link--button>a {
    padding: 8px 0 13px 0;
  }

  .p-menuNav_link--login>a {
    border: 1px solid #0051e0;
    background: none;
    color: #0051e0;
    padding: 7px 0 12px 0;
  }

  .p-menuNav_links.is-footer {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-mobileBlock {
    display: block;
  }

  .is-footer .p-menuNav_link a {
    font-size: 14px;
    font-weight: 400;
    padding: 10px;
  }

  [data-page-id=top] .p-search {
    display: block;
  }

  .p-search_icon:after {
    top: 6px;
    left: 4px;
    font-size: 32px;
  }

  .uq-topHero {
    border: none;
    height: 86vh;
    min-height: 500px;
    max-height: 580px;
    margin-bottom: 100px;
  }

  .uq-topHeroBg_item {
    background-position: 50%;
  }

  .uq-topHeroBg_item:first-of-type {
    background-position: 18% top;
  }
  .uq-topHeroBg_item:nth-of-type(2) {
    background-position: 32% top;
  }
  .uq-topHeroBg_item:nth-of-type(3) {
    background-position: 50%;
  }
  .uq-topHeroBg_item:nth-of-type(4) {
    background-position: right 15% center;
  }
  .uq-topHeroBg_item:nth-of-type(5) {
    background-position: left 20% center;
  }

  .uq-topHero_copy {
    font-size: 11px;
  }

  .uq-topSearch {
    width: calc(100% - 40px);
    padding-top: 140px;
  }

  .uq-topSearch_tabs {
    margin-bottom: 15px;
  }

  .uq-topSearch_tab a {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: -.05em;
  }

  .uq-topSearch_tab a.is-active:after {
    bottom: -6px;
    border-width: 6px 7px 0;
  }

  .uq-topSearch_keyword .c-formText {
    font-size: 12px;
    line-height: 48px;
    height: 50px;
  }

  .uq-topSearch_button {
    font-size: 14px;
    line-height: 50px;
    width: 90px;
    height: 50px;
  }

  .uq-topGps {
    display: block;
  }

  .uq-topHero_overlay {
    height: 110vh;
  }

  .uq-topHero_logo {
    width: 180px;
    margin-top: -30px;
  }

  .is-introSkip .uq-topHero_typo {
    -webkit-transform: translateY(-60px);
    transform: translateY(-60px);
    -webkit-animation-name: none!important;
    animation-name: none!important;
  }

  .uq-topYodare {
    bottom: -30px;
  }

  .uq-topYodare_message {
    top: -25px;
    font-size: 12px;
  }

  .uq-topYodare_character {
    width: 90px;
  }

  .uq-topIonwater {
    right: 20px;
    bottom: -35px;
    display: block;
    text-align: left;
  }

  .uq-topIonwater_sponsord {
    font-size: 6px;
    margin-bottom: 0;
  }

  .uq-topIonwater_logo {
    width: 110px;
  }

  .uq-topIonwater_logo img {
    width: 100%;
    height: auto;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  .uq-topInformation {
    bottom: -100px;
    left: 0;
    font-size: 14px;
    width: 100%;
    margin-bottom: 20px;
    padding: 0 0 0 20px;
  }

  .uq-topInformation_content {
    margin-right: 20px;
  }

  .uq-topInformationItem {
    font-size: 12px;
  }

  .uq-topInformationItem_date {
    margin-right: 10px;
  }

  .l-containers {
    width: 100%;
    box-sizing: border-box;
    min-height: auto;
    margin-bottom: 0;
  }

  .p-sakatsu {
    width: 100%;
  }

  .p-headlineHeader {
    margin-bottom: 20px;
    padding: 0 20px;
  }

  .c-headline--lv1 {
    margin: 0 0 10px;
  }

  .p-headlineHeader .c-headline {
    float: none;
  }

  .c-headline--lv1 .c-headline_string {
    font-size: 24px;
    line-height: 1.25;
  }

  .c-lead {
    font-size: 13px;
  }

  .c-headline+p.c-lead {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .p-headlineHeader .c-headline+.c-lead {
    top: 0;
    margin-top: 5px;
  }

  .p-sakatsu_content {
    display: block;
  }

  .p-sakatsu_sub {
    width: calc(100% - 40px);
    margin: auto;
  }

  .u-desktopBlock {
    display: none;
  }

  .p-sakatsuUse {
    border: 2px solid #0051e0;
    border-radius: 8px;
    padding: 10px 20px;
    box-shadow: none;
  }

  .p-sakatsuUse_headline span {
    font-size: 16px;
  }

  .p-sakatsuUse_body {
    display: none;
  }

  .p-sakatsuUse_headline+.p-sakatsuUse_body {
    margin-top: 15px;
  }

  .p-sakatsuUse_body span {
    font-size: 12px;
  }

  .p-sakatsu_main {
    width: 100%;
  }

  .p-sakatsu .l-content {
    margin-bottom: 30px;
    padding: 0 20px;
  }

  .p-sakatsu_main .l-content {
    margin-bottom: 0;
  }

  .p-postCardList {
    display: block;
    box-sizing: border-box;
    width: calc(100% + 40px);
    margin-left: -20px;
  }

  .p-sakatsu_main .p-postCardList {
    border-top: 1px solid #eee;
  }

  .p-postCard_inner {
    padding: 15px 20px 45px;
  }

  .is-temperature .p-postCard_inner {
    padding-bottom: 75px;
  }

  .p-postCard_header {
    width: 30px;
  }

  .p-postCard_icon {
    height: 30px;
  }

  .p-postCard_content {
    width: calc(100% - 40px);
  }

  .p-postCardUser {
    margin-bottom: 5px;
  }

  .p-postCardUser_contents {
    margin-top: 0;
    margin-bottom: 3px;
  }

  .p-postCardUser_name {
    font-size: 14px;
    margin-bottom: -3px;
  }

  .p-postCardUser_date {
    font-size: 10px;
  }

  .p-postCardUser_counter {
    font-size: 10px;
    margin-right: 5px;
  }

  .p-postCard_facility {
    font-size: 14px;
  }

  .p-postCard_address {
    font-size: 10px;
  }

  .p-postCard_text {
    font-size: 14px;
    line-height: 1.5;
  }

  .p-postCard_image img {
    max-width: 100%;
  }

  .p-postCardFood {
    border-radius: 6px;
    padding: 15px;
  }

  .p-postCardList .p-postCardFood {
    margin: 10px 0 0;
    padding: 10px;
  }

  .p-postCardList .p-postCardFood_image {
    width: 45%;
    margin: 0 10px 0 0;
  }

  .p-postCardList .p-postCardFood_body {
    width: 55%;
  }

  .p-postCardFood_restaurant {
    font-size: 10px;
  }

  .p-postCardList .p-postCardFood_restaurant {
    font-size: 10px;
    margin-bottom: 3px;
  }

  .p-postCardFood_title {
    font-size: 14px;
    line-height: 1.4;
  }

  .p-postCardFood_description {
    font-size: 14px;
  }

  .p-postCardList .p-postCardFood_description {
    font-size: 12px;
    margin-top: 0;
  }

  .p-postCard_readmore {
    left: 20px;
    bottom: 34px;
    width: calc(100% - 40px);
    padding: 20px 0 10px;
  }

  .p-postCardAction {
    margin: 10px 0;
  }

  .p-postCardAction.is-mini {
    left: 60px;
    padding: 0;
  }

  .is-mini .p-postCardAction_item.is-comment span {
    top: -1px;
  }

  .p-saunaItemSpec {
    display: block;
    margin-bottom: 5px;
  }

  .p-postCard .p-saunaItemSpec {
    bottom: 40px;
    left: 60px;
    display: flex;
  }

  .p-saunaItemSpec_content {
    margin-right: 0;
    margin-bottom: 2px;
  }

  .p-postCard .p-saunaItemSpec_content {
    margin-right: 10px;
    margin-bottom: 0;
  }

  .p-saunaItemSpec_headline {
    position: relative;
    top: 1px;
    border-radius: 4px;
    font-size: 8px;
    line-height: 14px;
    text-align: center;
    width: 24px;
    height: 14px;
    margin-right: 5px;
    padding: 0;
  }

  .p-postCard .p-saunaItemSpec_headline {
    border-radius: 8px;
    font-size: 9px;
    line-height: 15px;
    width: 16px;
    height: 16px;
  }

  .p-saunaItemSpec_items {
    top: 0px;
  }

  .p-saunaItemSpec_item {
    font-size: 12px;
    margin-right: 5px;
    margin-bottom: 0;
  }

  .p-saunaItemSpec_icon {
    top: 1px;
    font-size: 8px;
    line-height: 14px;
    width: 14px;
    height: 14px;
    margin-right: 3px;
  }

  .p-postCard .p-saunaItemSpec_icon {
    width: 16px;
    height: 16px;
    margin-right: 5px;
  }

  .p-saunaItemSpec_value {
    font-size: 12px;
    top: 0;
  }

  .p-postCard .p-saunaItemSpec_value {
    top: 1px;
  }

  .p-sakatsu_more {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .c-button {
    display: block;
  }

  .c-button a, .c-button button {
    font-size: 14px;
    padding: 14px 0;
  }

  .uq-topPickupBanner {
    width: calc(100% - 40px);
    margin-top: 50px;
    margin-bottom: 40px;
  }

  .uq-topPickupBanner .p-headlineHeader {
    padding: 0;
  }

  .uq-topPickupBanner_item {
    margin-bottom: 10px;
  }

  .uq-topPickupBanner_item a {
    border-radius: 12px;
  }

  .uq-toplottery {
    width: 100%;
    background: #f3f3f3;
    margin-bottom: 40px;
    padding-top: 45px;
    padding-bottom: 10px;
  }

  .p-goodsList {
    background: #f3f3f3;
    box-sizing: border-box;
    width: 100%;
    padding: 60px 20px 40px;
  }

  .uq-toplottery .p-goodsList {
    padding-top: 0;
  }

  .p-goodsCard {
    border-radius: 8px;
    width: calc(50% - 5px);
    margin-bottom: 5px;
  }

  .p-goodsCard_image {
    border-radius: 8px 8px 0 0;
  }

  .is-sauna .p-goodsCard_image img {
    top: 10px;
  }

  .p-goodsCard_tag {
    top: 10px;
    left: 10px;
    border-radius: 2px;
    font-size: 7px;
    padding: 3px 6px;
  }

  .p-goodsCard_content {
    padding: 10px 0;
  }

  .p-goodsCardTitle {
    font-size: 16px;
    margin-bottom: 5px;
    padding: 0 10px;
  }

  .p-goodsCardTitle_item {
    font-size: 16px;
    margin-top: 8px;
}

  .p-goodsCardTitle_name {
    font-size: 9px;
  }

  .p-goodsCard_body {
    margin-bottom: 15px;
    padding: 0 10px;
  }

  .p-goodsCardTonttu_count {
    font-size: 22px;
    padding-left: 18px;
  }

  .p-goodsCardTonttu_count:before {
    top: 2px;
    left: 0;
    width: 15px;
    height: 20px;
  }

  .p-goodsCardWin p {
    font-size: 15px;
  }

  .p-goodsCardFooter {
    padding: 6px 10px 0;
  }

  .p-goodsCardFooter_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .p-goodsCardState_list {
    align-items: center;
    font-size: 10px;
  }

  .p-goodsCardState_list p {
    font-size: 12px;
    margin: 0 3px;
  }

  .p-goodsCardState_list:first-of-type:after {
    position: relative;
    top: -1px;
    content: "/";
    color: #888;
    margin: 0 5px;
  }

  .uq-topSauna {
    width: 100%;
    margin-bottom: 40px;
  }

  .p-saunaList {
    width: calc(100% + 40px);
    margin-top: 0;
    margin-left: -20px;
  }

  .p-saunaList--grid {
    border-bottom: 0;
    display: block;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    margin-bottom: 0;
    margin-left: 0;
    -webkit-overflow-scrolling: touch;
  }

  .uq-topSauna .p-saunaList {
    padding-left: 20px;
  }

  .p-saunaList_content {
    width: 1080px;
  }

  .p-saunaList--grid .p-saunaList_content {
    justify-content: flex-start;
  }

  .p-saunaItem.p-saunaItem--grid {
    width: 250px;
    margin-right: 10px;
  }

  .uq-topSauna .p-saunaItem:first-of-type {
    margin-top: 0;
  }

  .p-saunaItem>a {
    background: none;
    box-sizing: border-box;
    margin-left: 0;
  }

  .p-saunaItem.p-saunaItem--grid>a {
    border: 1px solid #f3f3f3;
    border-radius: 12px;
    overflow: hidden;
  }

  .p-saunaItem_image {
    top: 0;
    height: auto;
    width: 38%;
    min-height: 58px;
    margin: 0 15px 0 0;
  }

  .p-saunaItem_image img {
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: top;
    object-position: top;
  }

  .p-saunaItem_header {
    left: 0;
    width: 100%;
  }

  .p-saunaItemOpenday {
    font-size: 12px;
    margin-bottom: 3px;
  }

  .p-saunaItem--grid .p-saunaItem_name {
    line-height: 1.5;
    margin-bottom: 5px;
  }

  .p-saunaItem_data {
    top: -4px;
    width: 62%;
  }

  .p-saunaItemSpec {
    display: block;
    margin-bottom: 5px;
  }

  .p-saunaItem--grid .p-saunaItemSpec {
    margin-bottom: 5px;
  }

  .p-saunaItem--grid .p-saunaItemSpec_headline {
    width: 13px;
    height: 13px;
    line-height: 14px;
  }

  .p-saunaItem--grid .p-saunaItemSpec_icon {
    line-height: 14px;
    width: 14px;
    height: 14px;
  }

  .p-saunaItem--grid .p-saunaItemSpec_value {
    top: -2px!important;
  }

  .p-saunaItemSpec_value>img {
    top: -3px;
    width: 12px;
  }

  .uq-topSaunaMore {
    padding: 0 20px;
  }

  .uq-topSauna .c-button {
    width: 100%;
    margin-top: 20px;
  }

  .uq-topSaunaMore_future {
    margin-top: 20px;
  }

  .p-wanted {
    border-radius: 12px;
    background-position: 50%;
    width: calc(100% - 40px);
    height: 250px;
    margin-bottom: 50px;
  }
 
  .p-wanted_content {
    display: block;
    padding: 0 30px;
  }

  .p-wantedHeadline {
    margin-bottom: 10px;
  }

  .p-wantedHeadline_en {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .p-wantedComplete_text {
    font-size: 16px;
    line-height: 1.7;
  }

  .p-wantedComplete_remaining {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .p-wantedComplete_remaining strong {
    font-size: 40px;
    margin: 0 5px;
  }

  .p-wantedComplete .c-button a {
    display: block;
    padding: 14px 40px;
  }

  .p-storeGoods {
    width: 100%;
    margin-bottom: 20px;
    padding: 0 20px;
  }

  .uq-topStoreGoods {
    margin-bottom: 60px;
  }

  .p-storeGoodsList {
    margin-bottom: 0;
  }

  .p-storeGoodsCard {
    width: calc(50% - 5px);
    margin-bottom: 20px;
  }

  .p-storeGoodsCard_name {
    font-size: 12px;
  }

  .p-storeGoodsCard:last-of-type {
    display: none;
  }

  .uq-topMagazine {
    background: #f8f8f8;
    margin-bottom: 40px;
  }

  .uq-topMagazine_content {
    width: 100%;
    padding: 40px 0 50px;
  }

  .p-saunaCardList {
    display: block;
    padding: 0 20px;
  }

  .uq-topMagazine .p-saunaCardList {
    border-top: 1px solid #eee;
    margin-bottom: 10px;
    padding: 0 20px;
  }

  .p-saunaCard {
    width: 100%;
    margin: 0;
  }

  .p-saunaCard a {
    border-bottom: 1px solid #eee;
    display: flex;
    padding: 20px 0;
  }

  .p-saunaCard_image {
    border-radius: 12px;
    width: 40%;
    margin-bottom: 0;
  }

  .p-saunaCard_image img {
    width: 100%;
    height: auto;
  }

  .p-saunaCard_body {
    box-sizing: border-box;
    width: 60%;
    margin-top: -4px;
    padding: 0 0 0 15px;
  }

  .p-saunaCard_title {
    font-size: 16px;
    line-height: 1.5;
    width: 100%;
  }

  .p-saunaCard_date {
    font-size: 12px;
  }

  .uq-topMagazine_more {
    padding: 0 20px;
  }

  .uq-topMagazine .c-button {
    width: 100%;
    margin-top: 20px;
  }

  .uq-topNews {
    width: 100%;
    margin-bottom: 40px;
  }

  .uq-topNews .l-content {
    border-top: 1px solid #eee;
    border-radius: 0;
    padding: 0;
  }

  .uq-topNews .p-news_content {
    padding: 20px;
    height: 240px;
    -webkit-overflow-scrolling: touch;
  }

  .p-news_list {
    display: block;
  }

  .p-banner {
    width: 100%;
    margin: 20px auto 50px;
    padding: 0 20px;
  }

  .p-banner_item {
    float: none;
    width: 100%;
    margin: 0 0 10px;
  }
  
  .p-banner_item a {
    border-radius: 12px;
  }

  .p-banner_item:nth-of-type(3n) {
    margin-bottom: 0;
  }

  .uq-topGoods {
    width: 100%;
    border-radius: 0;
    background-image: url(./images/goods_sp.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    height: 568px;
    margin-bottom: 0;
  }

  .uq-topGoods_content {
    width: 100%;
  }

  .uq-topGoods_headline {
    font-size: 45px;
    margin-bottom: 15px;
  }

  .uq-topGoods_description {
    font-size: 14px;
  }

  .uq-topGoods .c-button {
    display: block;
    box-sizing: border-box;
    width: 240px;
    padding: 14px 0;
  }

  .c-loading_content {
    margin-top: -40px;
    margin-left: 0;
  }

  .c-loading_icon {
    width: 100px;
    height: 100px;
  }

  .c-loading_icon img {
    width: 100px;
    margin-left: 0;
  }

  .l-footer {
    background: #f3f3f3;
    overflow: hidden;
    width: 100%;
    padding-top: 20px;
  }

  .l-footer_content {
    width: 100%;
    box-sizing: border-box;
    padding: 30px 20px 10px;
  }

  .l-footerSearch {
    margin-bottom: 0;
  }

  .l-footerSearch_content {
    margin-bottom: 30px;
  }

  .l-footerSearch_headline {
    font-size: 16px;
    margin-bottom: 15px;
  }

  .l-footerSearch_area {
    display: block;
    margin-bottom: 20px;
  }

  .l-footerSearch_link a {
    font-size: 13px;
  }

  .l-footerSitemap {
    padding: 40px 0;
  }

  .l-footerSitemap_content {
    width: 100%;
  }

  .l-footerSitemap_main {
    padding: 0 20px;
  }


  .l-footerSitemapItems {
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  .l-footerSitemapItem {
    width: calc(50% - 20px);
    margin-bottom: 40px;
  }

  .l-footerSitemapItem_headline {
    font-size: 14px;
  }

  .l-footerSitemapItem_link:before {
    top: 9px;
    margin-right: 10px;
  }

  .l-footerSitemapItem_link a {
    font-size: 12px;
  }

  .l-footerSitemap_foot {
    width: 100%;
    display: block;
  }
  
  .l-footerNav {
    overflow: hidden;
    padding-top: 0;
    text-align: left;
  }

  .l-footerNav_links {
    margin-bottom: 0;
  }

  .l-footerNav_link {
    display: block;
    margin: 0;
  }

  .l-footerNav_link a {
    display: block;
    padding: 5px 0 5px 20px;
  }

  .l-footerSns {
    display: block;
    text-align: center;
    margin-bottom: 40px;
  }

  .l-footerSns_headline {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .l-footerSns_content {
    justify-content: center;
  }

  .l-footerSns_button {
    margin: 0 10px;
  }

  .l-footerSns_button:after {
    left: 4px;
    font-size: 30px;
  }

  .l-footerSitemap_logo {
    width: 100px;
    margin: 0 auto 30px;
  }

  .l-footerSitemap_foot small {
    text-align: center;
    margin-top: 30px;
  }

}
