@charset "UTF-8";

abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
  border: 0;
  background: transparent;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-smoothing: antialiased; */
}

body {
  background: #f3f3f3;
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  font-size: 16px;
  line-height: 1.65;
  color: #111;
  width: 100%;
}

a {
  background: transparent;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
  outline: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

li {
  list-style-type: none;
  text-align: -webkit-match-parent;
}

body, img {
  width: 100%;
}

img {
  border: none;
  vertical-align: bottom;
}

input, select, textarea {
  vertical-align: middle;
}

p {
  line-height: 1.8;
}

a {
  background: transparent;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
  outline: none;
}

a, a:visited {
  color: #222;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

.l-page {
  position: relative;
  z-index: 1;
  overflow: hidden;
  min-width: 1100px;
  margin: auto;
}

.l-headerApp {
  position: relative;
  background: #0051e0;
  width: 100%;
  height: 70px;
  box-sizing: border-box;
  padding: 0 20px;
  z-index: 1001;
  overflow: hidden;
  display: none;
  color: #fff;
}

.l-headerApp_content, .l-headerAppBanner {
  display: flex;
  width: 100%;
  align-items: center;
}

.l-headerApp_content {
  height: 100%;
}

.l-headerAppBanner {
  height: 70px;
  text-decoration: none;
  color: #fff;
}

.l-headerAppBanner_img {
  border-radius: 8px;
  width: 44px;
  margin-right: 10px;
  overflow: hidden;
  box-sizing: border-box;
}

.l-headerAppBanner_img img {
  width: 100%;
  overflow: hidden;
  height: auto;
  box-sizing: border-box;
  border-radius: 8px;
}

.l-headerAppBanner_body {
  margin-right: 10px;
}

.l-headerAppBanner_body strong {
  display: block;
  margin-bottom: 4px;
  line-height: 1;
  font-size: 14px;
}

.l-headerAppBanner_body p {
  line-height: 1;
  font-size: 10px;
}

.l-headerAppBanner_button {
  height: 30px;
  line-height: 30px;
  background: #fff;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 600;
  margin-left: auto;
  text-align: center;
  color: #0051e0;
  padding: 0 5px;
}

[data-page-id=top] .l-header {
  position: absolute;
  /* opacity: 0; */
}

.is-introSkip .l-header {
  opacity: 1;
  transition-delay: 0;
  transition-duration: 0s;
  /* -webkit-transform: translateY(0); */
  transform: translateY(0);
}

.l-header {
  position: relative;
  z-index: 1000;
  width: 100%;
  height: 80px;
  margin-bottom: 20px;
}

.l-headerApp+.l-header .l-header_content {
  position: relative;
}

.l-header_content {
  position: relative;
}

[data-page-id=top] .l-header_inner {
  background: none;
}

[data-page-id=top] .p-globalNav {
  left: 30px;
}

.p-globalNav {
  position: absolute;
  top: 12px;
  left: 130px;
}

.p-globalNav_links {
  font-size: 0;
}

.p-globalNav_link {
  position: relative;
  display: inline-block;
  font-size: 15px;
  margin: 0 20px 0 0;
  list-style-type: none;
}

.is-headerWhite .p-globalNav_link a, [data-page-id=top] .p-globalNav_link a {
  color: #fff;
}

.p-globalNav_link a {
  position: relative;
  display: block;
  box-sizing: border-box;
  font-weight: 600;
  padding: 10px 0;
}

.p-globalNav_link a:hover {
  text-decoration: none;
}

.p-globalNav_link a:after {
  position: absolute;
  bottom: 7px;
  left: 0;
  background: #ef0d0d;
  display: block;
  content: "";
  opacity: 0;
  width: 100%;
  height: 2px;
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transition-duration: .3s;
  transition-property: color opacity;
}

.p-globalNav_link.is-current a:after, .p-globalNav_link a:hover:after {
  opacity: 1;
}

.p-actionNav {
  position: absolute;
  top: 17px;
  right: 30px;
}

.p-actionNav_links {
  font-size: 0;
}

.p-actionNav_link--login {
  position: relative;
}

.p-actionNav_link {
  font-size: 15px;
  float: left;
  margin: 0 0 0 25px;
  list-style-type: none;
}

[data-page-id=top] .p-actionNav_link--button a {
  border: 1px solid #fff;
  background: none;
}

[data-page-id=top] .p-actionNav_link--login a {
  border: none;
  color: #fff;
}

.p-actionNav_link--login a {
  position: relative;
  border: 1px solid #0051e0;
  background: none;
  font-weight: 600;
  color: #0051e0;
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transition-duration: .25s;
  transition-property: all;
}

.p-actionNav_link--button a {
  position: relative;
  border-radius: 8px;
  background: #000;
  background: #0051e0;
  display: block;
  box-sizing: border-box;
  font-weight: 600;
  line-height: 32px;
  color: #fff;
  height: 34px;
  padding: 0 15px;
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transition-duration: .25s;
  transition-property: all;
}

.desktop .p-actionNav_link--button a:hover {
  background: #006dee;
  text-decoration: none;
}

.desktop [data-page-id=top] .p-actionNav_link--button a:hover {
  background: #0051e0;
  color: #fff;
}

.p-actionNav_link--login a:hover {
  text-decoration: none;
  opacity: .7;
}

.p-actionNav_link--register {
  position: relative;
  margin-left: 10px;
}

.is-headerWhite .p-actionNav_link--register>a, [data-page-id=top] .p-actionNav_link--register>a {
  background: #fff;
  color: #0051e0;
}

.p-menuButton {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 56px;
  display: none;
  text-align: center;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  z-index: 1002;
}

.p-menuButton_line {
  display: block;
  width: 20px;
  height: 2px;
  background: #0051e0;
  background: #222;
  margin: 0 auto 6px;
  transition-property: all;
  transition-duration: .4s;
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
  -webkit-animation-timing-function: cubic-bezier(.215,.61,.355,1);
  animation-timing-function: cubic-bezier(.215,.61,.355,1);
  -webkit-animation-duration: .35s;
  animation-duration: .35s;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

[data-page-id=top] .p-menuButton_line {
  background: #fff;
}

.p-menu {
  position: absolute;
  top: 0;
  z-index: 1001;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transition-duration: .25s;
  transition-property: all;
}

.p-menu_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.p-menu_content {
  position: relative;
}

.p-menuNav {
  border: 1px solid #efefef;
  border-radius: 12px;
  background: #fff;
  box-sizing: border-box;
  overflow: hidden;
  overflow-y: auto;
  padding: 10px 30px 10px 20px;
  box-shadow: 0 0 15px 2px rgba(0,0,0,.05);
  -webkit-overflow-scrolling: touch;
}

.p-menuNav_links {
  position: relative;
  border-bottom: 1px solid #eee;
  overflow: hidden;
  padding-top: 5px;
  padding-bottom: 5px;
}

.p-menuNav_links:first-of-type, .p-menuNav_links:last-of-type {
  border-bottom: none;
}

.p-menuNav_links.is-login {
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  padding: 0 20px 20px;
}

.p-menuNav_link--button {
  text-align: center;
  width: calc(50% - 5px);
}

.p-menuNav_link {
  list-style: none;
}

.p-menuNav_link a {
  display: block;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  padding: 10px;
  cursor: pointer;
}

.p-menuNav_link--button>a {
  border-radius: 8px;
  background: #0051e0;
  font-size: 14px;
  color: #fff;
  padding: 8px 0;
}

.p-menuNav_link--login>a {
  border: 1px solid #0051e0;
  background: none;
  color: #0051e0;
  padding: 8px 0;
}

.p-menuNav_link a span {
  font-size: 12px;
}

.p-menuNav_link--button>a span {
  font-size: 14px;
}

.p-menuNav_link--button {
  text-align: center;
  width: calc(50% - 5px);
}

.p-menuNav_link {
  list-style: none;
}

.p-menuNav_link--button>a {
  border-radius: 8px;
  background: #0051e0;
  font-size: 14px;
  color: #fff;
  padding: 8px 0;
}

.u-mobileBlock {
  display: none;
}

.p-search {
  position: absolute;
  top: 0;
  background: #f3f3f3;
  box-sizing: border-box;
  z-index: 1000;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  padding: 10px;
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transition-duration: .35s;
  transition-property: all;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

[data-page-id=top] .p-search {
  background: none;
  display: none;
}

.p-search_input {
  position: relative;
}

.p-search input {
  border: none;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 14px;
  width: 100%;
  height: 44px;
  padding: 14px 12px;
  outline: none;
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transition-duration: .3s;
  transition-property: width opacity;
}

.p-search_icon {
  position: absolute;
  top: 0;
  right: 12px;
  border: none;
  border-radius: 0 8px 8px 0;
  background: none;
  display: block;
  z-index: 2;
  width: 40px;
  height: 44px;
  cursor: pointer;
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transition-duration: .25s;
  transition-property: all;
}

.p-search_icon:after {
  font-family: "Font Awesome 6 Free";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  text-decoration: none;
  text-transform: none;
  content: "";
  position: absolute;
  top: 2px;
  left: 4px;
  font-size: 30px;
  line-height: 30px;
  color: #222;
  height: 30px;
}

.p-mask {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99;
  display: none;
}

.uq-top {
  overflow: hidden;
}

.uq-topHero {
  position: relative;
  box-sizing: border-box;
  text-align: center;
  height: 90vh;
  min-height: 600px;
  max-height: 900px;
  margin-bottom: 100px;
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transition-duration: .6s;
  transition-property: opacity transform
}

.uq-topHeroBg {
  position: relative;
  background: #0051e0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.uq-topHeroBg_item:first-of-type {
  background-image: url(./images/sauna_01.png);
}
.uq-topHeroBg_item:nth-of-type(2) {
  background-image: url(./images/sauna_02.png);
}
.uq-topHeroBg_item:nth-of-type(3) {
  background-image: url(./images/sauna_03.png);
}
.uq-topHeroBg_item:nth-of-type(4) {
  background-image: url(./images/sauna_04.png);
}
.uq-topHeroBg_item:nth-of-type(5) {
  background-image: url(./images/sauna_05.png);
}

.uq-topHeroBg_item.is-active {
  opacity: 1;
}

.uq-topHeroBg_item.is-zoom {
  -webkit-animation-name: zoom;
  animation-name: zoom;
}

@keyframes zoom {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.uq-topHeroBg_item {
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transition-duration: 2s;
  transition-property: all;
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
  -webkit-animation-timing-function: cubic-bezier(.215,.61,.355,1);
  animation-timing-function: cubic-bezier(.215,.61,.355,1);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.uq-topHero_content, .uq-topHero_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.uq-topHero_content {
  z-index: 1;
  width: 100%;
  margin-top: -15px;
}

.uq-topHero_copy {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 20px;
}

.u-displayNone {
  display: none;
}

.uq-topSearch {
  width: 500px;
  margin: 0 auto;
  padding-top: 220px;
}

.uq-topSearch_tabs {
  border: 2px solid #fff;
  border-radius: 8px;
  display: flex;
  margin-bottom: 25px;
}

.uq-topSearch_tab {
  border-right: 2px solid #fff;
  width: 33.3333%;
  list-style-type: none;
}

.desktop .uq-topSearch_tab a:hover, .uq-topSearch_tab a.is-active {
  background: #fff;
  color: #0051e0;
  text-decoration: none;
}

.uq-topSearch_tab a {
  position: relative;
  display: block;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  color: #fff;
  text-decoration: none;
  padding: 10px 0;
  cursor: pointer;
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transition-duration: .5s;
  transition-property: all;
}

.uq-topSearch_tab a.is-active:after {
  position: absolute;
  bottom: -8px;
  left: 50%;
  border-color: #fff transparent transparent;
  border-style: solid;
  border-width: 8px 9px 0;
  content: "";
  width: 0;
  height: 0;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.uq-topSearch_tab:last-child {
  border-right: none;
}

.uq-topSearch_keyword {
  position: relative;
}

.uq-topSearch_keyword .c-formText {
  border: none;
  font-weight: 600;
  line-height: 57px;
  width: 100%;
  height: 60px;
}

.c-formText--sm {
  width: 100px;
  margin-right: 10px;
}
.c-formText, .c-formText.is-required {
  background: #fff;
}
.c-formText {
  position: relative;
  border: 3px solid #eee;
  border-radius: 8px;
}

.c-formText input {
  border: none;
  background: none;
  display: inline-block;
  box-sizing: border-box;
  font-size: 16px;
  vertical-align: middle;
  width: 100%;
  padding: 14px;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
}

.uq-topSearch_button {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  border-radius: 0 8px 8px 0;
  background: #ef0d0d;
  font-size: 16px;
  font-weight: 600;
  line-height: 60px;
  color: #fff;
  text-align: center;
  width: 110px;
  height: 60px;
  outline: none;
}

.uq-topGps {
  display: none;
  width: calc(100% - 40px);
  margin: 20px auto 0;
}

.uq-topGps a {
  border: 2px solid #fff;
  border-radius: 8px;
  display: block;
  box-sizing: border-box;
  line-height: 43px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  height: 50px;
  cursor: pointer;
}

.uq-topGps span {
  position: relative;
  font-size: 14px;
  font-weight: 500;
  padding-left: 25px;
}

.uq-topGps span:before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f3c5";
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  position: absolute;
  left: 2px;
  font-size: 20px;
  line-height: 50px;
  margin-top: -2px;
}

.uq-topHero_overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: #0051e0;
  z-index: 100;
  pointer-events: none;
  opacity: 1;
  width: 100vw;
  height: 100vh;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(.215,.61,.355,1);
  animation-timing-function: cubic-bezier(.215,.61,.355,1);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.is-introSkip .uq-topHero_overlay {
  opacity: 0;
}

.is-introSkip .uq-topHero_logo {
  z-index: 0;
}

.uq-topHero_logo {
  z-index: 1000;
  width: 250px;
}

.is-introSkip .uq-topHero_typo {
  -webkit-transform: translateY(-70px);
  transform: translateY(-70px);
  -webkit-animation-name: none;
  animation-name: none;
  -webkit-animation-name: saunaikitai;
  animation-name: saunaikitai;
}

@keyframes saunaikitai {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.uq-topYodare {
  position: absolute;
  bottom: -30px;
  left: 50%;
  z-index: 3;
  pointer-events: none;
  opacity: 0;
  width: 100%;
  transition-delay: .45s;
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transition-duration: .6s;
  transition-property: opacity transform;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transform: translateY(30px) translateX(-50%);
  transform: translateY(30px) translateX(-50%);
}

.is-introSkip .uq-topYodare {
  transition-delay: 0;
  transition-duration: 0s;
}

.is-introEnd .uq-topYodare, .is-introSkip .uq-topYodare {
  opacity: 1;
  -webkit-transform: translateY(0) translateX(-50%);
  transform: translateY(0) translateX(-50%);
}

.uq-topYodare_message {
  position: absolute;
  top: -30px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  color: #fff;
  text-align: center;
  opacity: 0;
  width: 100%;
}

.uq-topYodare_message.is-show {
  -webkit-animation-name: messageShow;
  animation-name: messageShow;
  -webkit-animation-duration: .6s;
  animation-duration: .6s;
  -webkit-animation-timing-function: cubic-bezier(.215,.61,.355,1);
  animation-timing-function: cubic-bezier(.215,.61,.355,1);
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes messageShow {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.uq-topYodare_message.is-hide {
  -webkit-animation-name: messageHide;
  animation-name: messageHide;
  -webkit-animation-duration: .6s;
  animation-duration: .6s;
  -webkit-animation-timing-function: cubic-bezier(.215,.61,.355,1);
  animation-timing-function: cubic-bezier(.215,.61,.355,1);
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes messageHide {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.uq-topYodare_message span {
  position: relative;
  opacity: 0;
  transition-timing-function: cubic-bezier(.175,.885,.32,1.275);
  transition-duration: .1s;
  transition-property: opacity;
}

.uq-topYodare_message span.is-show {
  opacity: 1;
}

.uq-topYodare_message span:first-of-type {
  transition-delay: 20ms;
}


.uq-topYodare_character {
  width: 100px;
  margin: 0 auto 5px;
}

.uq-topYodare_character img {
  width: 100%;
  height: auto;
}

.uq-topIonwater {
  position: absolute;
  right: 30px;
  bottom: -35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #00b2d7;
}

.uq-topIonwater_sponsord {
  position: relative;
  top: 2px;
  font-size: 9px;
  font-weight: 300;
  line-height: 1;
  margin-right: 10px;
}

.uq-topIonwater_logo {
  line-height: 1;
  width: 153px;
}

.uq-topIonwater_logo img {
  width: 100%;
  height: auto;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.uq-topInformation {
  position: absolute;
  left: 30px;
  box-sizing: border-box;
  margin: auto auto 40px;
}

.uq-topInformation_content {
  padding: 20px 0;
}

.uq-topInformationItem {
  display: flex;
  font-size: 14px;
}

.uq-topInformationItem_date {
  font-weight: 600;
  letter-spacing: .02em;
  margin-right: 15px;
}

.uq-topInformationItem a {
  position: relative;
  border-radius: 4px;
  border-radius: 30px;
  display: block;
  font-weight: 600;
  color: #0051e0;
  text-align: left;
  text-decoration: none;
}

.l-containers {
  min-height: 80vh;
  margin-bottom: 80px;
  width: 1100px;
  margin-right: auto;
  margin-left: auto;
}

[data-page-id=top] .l-containers {
  width: 100%;
}

.p-sakatsu {
  width: 1100px;
  margin-right: auto;
  margin-left: auto;
}

.p-headlineHeader {
  overflow: hidden;
  margin-bottom: 30px;
}

.p-headlineHeader .c-headline {
  float: left;
  margin-right: 20px;
  margin-bottom: 0;
}

.c-headline--lv1 {
  margin: 0 0 30px;
}

.c-headline--lv1 .c-headline_string {
  font-size: 34px;
  line-height: 1.5;
}

.c-lead {
  margin-bottom: 20px;
  line-height: 1.6;
  font-size: 16px;
}

.c-headline+p.c-lead {
  margin-top: -20px;
  margin-bottom: 30px;
}

.p-headlineHeader .c-headline+.c-lead {
  position: relative;
  top: 15px;
  margin-top: 0;
  margin-bottom: 0;
}

.p-sakatsu_content {
  display: flex;
  justify-content: space-between;
}

.p-sakatsu_sub {
  width: 348px;
}

.p-sakatsuUse {
  border-radius: 12px;
  background: #fff;
  margin-bottom: 20px;
  padding: 30px;
}

.u-desktopBlock {
  display: block;
}

.p-sakatsuUse_headline {
  text-align: center;
  cursor: pointer;
}

.p-sakatsuUse_headline span {
  position: relative;
  left: 14px;
  display: inline-block;
  font-size: 18px;
  color: #0051e0;
}

.p-sakatsuUse_headline span:before {
  position: absolute;
  top: 5px;
  left: -33px;
  background-image: url(./images/beginner.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  display: block;
  content: "";
  z-index: 0;
  width: 24px;
  height: 28px;
}

.p-sakatsuUse_headline+.p-sakatsuUse_body {
  margin-top: 20px;
}

.p-sakatsuUse p {
  font-size: 14px;
  margin-bottom: 30px;
}

.p-sakatsuUse_body span {
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: #0051e0;
  text-align: center;
  margin-bottom: 10px;
}

.p-sakatsuUse img {
  width: 100%;
  height: auto;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.p-sakatsu_main {
  width: 724px;
}

.l-content {
  border-radius: 16px;
  background: #fff;
  box-sizing: border-box;
  margin: 0 0 60px;
  padding: 80px;
}

.p-sakatsu .l-content {
  margin-bottom: 80px;
  padding: 20px 0;
}

.l-content a {
  text-decoration: underline;
}

.desktop .l-content a:hover {
  text-decoration: none;
  opacity: .7;
}

.p-postCardList {
  position: relative;
}

.p-postCard {
  position: relative;
  border-bottom: 1px solid #eee;
  z-index: 2;
  overflow: hidden;
  margin-bottom: 0;
}

.p-postCard.is-readmore {
  overflow: hidden;
  height: 350px;
}

.p-postCard.is-read {
  height: auto;
}

.p-postCard_inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  padding: 20px 40px 50px;
  cursor: pointer;
}

.desktop .p-postCard_inner:hover {
  background: #f9f9f9;
}

.is-temperature .p-postCard_inner {
  padding-bottom: 80px;
}

.p-postCard_header {
  width: 40px;
}

.p-postCard_icon {
  border-radius: 50%;
  background-image: url(./images/user_default.jpeg);
  background-size: cover;
  width: 100%;
  height: 35px;
  margin: 0 10px 0 0;
}

.p-postCard a {
  text-decoration: none;
}

.p-postCard_icon img {
  border-radius: 50%;
  width: 100%;
  height: auto;
}

.p-postCard_content {
  position: relative;
  top: -2px;
  box-sizing: border-box;
  width: calc(100% - 55px);
}

.p-postCardUser {
  position: relative;
  display: flex;
  align-items: center;
  flex: 1;
  margin-bottom: 10px;
}

.p-postCardUser_contents {
  flex: 1;
  line-height: 1;
  margin-top: 2px;
}

.p-postCardUser_content {
  width: calc(100% - 45px);
}

.p-postCardUser_name {
  display: block;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  text-align: left;
  margin-bottom: -1px;
}

.p-postCardUser_name a {
  text-decoration: none;
}

.p-postCardUser_date {
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  color: #888;
  margin-right: 5px;
}

.p-postCardUser_counter {
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  color: #888;
}

.p-postCard_tag {
  display: inline-block;
  font-size: 12px;
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 3px;
}

.p-postCard_tag a {
  line-height: 1;
  color: #0051e0;
  padding: 1px 3px;
}

.p-postCard_body {
  overflow: hidden;
}

.p-postCard_facility {
  border-radius: 4px;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  color: #0051e0;
  margin-bottom: 4px;
}

.p-postCard_facility a {
  color: #0051e0;
  padding: 10px 0;
}

.p-postCard_address {
  position: relative;
  top: -2px;
  border-radius: 4px;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  color: #888;
  margin-left: 3px;
}

.p-postCard_text {
  font-size: 16px;
  line-height: 1.65;
}

.p-postCard_image {
  margin-top: 15px;
}

.p-postCard_image img {
  max-width: 300px;
  height: auto;
  max-height: 300px;
}

.p-postCardFood {
  border: 1px solid #e5e5e5;
  border-radius: 12px;
  box-sizing: border-box;
  margin: 20px 0;
  padding: 20px;
}

.p-postCardList .p-postCardFood {
  width: 100%;
  margin: 10px 0 0;
  padding: 10px;
}

.p-postCardFood_content {
  display: flex;
}

.p-postCardFood_image {
  margin-bottom: 15px;
}

.p-postCardList .p-postCardFood_image {
  width: 180px;
  margin: 0 20px 0 0;
}

.p-postCardFood_image img {
  width: 100%;
  height: auto;
}

.p-postCardFood_body {
  display: flex;
  align-items: center;
}

.p-postCardList .p-postCardFood_body {
  flex: 1;
  width: auto;
}

.p-postCardFood_meta {
  width: 100%;
}

.p-postCardFood_restaurant {
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 5px;
}

.p-postCardList .p-postCardFood_restaurant {
  font-size: 12px;
}

.p-postCardFood_restaurant a {
  position: relative;
  z-index: 1;
  color: #0051e0;
}

.p-postCardFood_title {
  font-size: 16px;
  font-weight: 600;
}

.p-postCardFood_description {
  font-size: 16px;
}

.p-postCardList .p-postCardFood_description {
  font-size: 14px;
  margin-top: 5px;
}

.p-postCard_readmore {
  position: absolute;
  bottom: 40px;
  left: 50px;
  background: linear-gradient(180deg,hsla(0,0%,100%,0) 0,hsla(0,0%,100%,0) 1%,#fff 99%);
  background: linear-gradient(180deg,hsla(0,0%,100%,0) 0,hsla(0,0%,100%,0) 1%,hsla(0,0%,100%,.85) 30%,#fff 99%);
  display: none;
  font-size: 12px;
  font-weight: 600;
  z-index: 101;
  text-align: center;
  visibility: visible;
  width: calc(100% - 35px);
  padding: 25px 0 15px;
  transition-timing-function: ease-out;
  transition-duration: .35s;
  transition-property: opacity;
}

.is-temperature .p-postCard_readmore {
  padding-bottom: 40px;
}

.is-readmore .p-postCard_readmore {
  display: block;
}

.is-read .p-postCard_readmore {
  opacity: 0;
  visibility: hidden;
}

.p-postCard_readmore span {
  position: relative;
  top: -5px;
  border-radius: 20px;
  background: #0051e0;
  background: #333;
  font-size: 12px;
  color: #fff;
  text-align: right;
  padding: 6px 12px;
  cursor: pointer;
}

.p-postCard_readmore span:before {
  position: absolute;
  top: -20px;
  left: -20px;
  display: block;
  content: "";
  opacity: .3;
  width: 140px;
  height: 50px;
}

.p-postCard_readmore span:after {
  margin-left: 5px;
  margin-bottom: 1px;
  font-family: "Font Awesome 6 Free";
  font-style: normal;
  font-variant: normal;
  text-decoration: none;
  text-transform: none;
  content: "\f078";
}

.p-saunaItemSpec {
  display: flex;
  align-items: center;
  z-index: 100;
  margin: 0 0 5px;
}

.p-postCard .p-saunaItemSpec {
  position: absolute;
  bottom: 40px;
  left: 95px;
}

.p-saunaItemSpec_content {
  display: flex;
  align-items: center;
  font-size: 0;
  margin: 0 15px 0 0;
}

.p-saunaItemSpec_content:last-of-type {
  margin: 0;
}

.p-saunaItemSpec_headline {
  border-radius: 6px;
  background: #0051e0;
  display: inline-block;
  font-size: 11px;
  font-weight: 600;
  line-height: 16px;
  color: #fff;
  height: 18px;
  margin: 0 7px 0 0;
  padding: 0 10px;
}

.p-saunaItemSpec_content--man .p-saunaItemSpec_headline {
  background: #0051e0;
}

.p-saunaItemSpec_content--woman .p-saunaItemSpec_headline {
  background: #ef0d0d;
}

.p-saunaItemSpec_items {
  position: relative;
  display: flex;
  align-items: center;
}

.p-saunaItemSpec_item {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin: 0 15px 0 0;
  list-style: none;
}

.p-saunaItemSpec_icon {
  position: relative;
  border-radius: 50%;
  background: #888;
  display: inline-block;
  box-sizing: border-box;
  font-size: 10px;
  font-weight: 600;
  line-height: 18px;
  color: #fff;
  text-align: center;
  width: 18px;
  height: 18px;
  margin-right: 5px;
}

.p-saunaItemSpec_value {
  position: relative;
  top: 0;
  font-size: 14px;
  margin-right: 2px;
  font-family: Inter;
  font-style: normal;
}

.p-postCardAction {
  background: #fff;
  display: flex;
  width: 100%;
  margin: 20px 0;
}

.p-postCardAction.is-mini {
  position: absolute;
  bottom: 0;
  left: 95px;
  margin: 0;
}

.p-postCardAction_item {
  position: relative;
  left: -10px;
  display: flex;
  align-items: center;
  pointer-events: all;
  margin-right: 5px;
  padding: 7px 10px;
  cursor: pointer;
}

.p-postCardAction_item:before {
  font-size: 22px;
  transition-timing-function: ease-out;
  transition-duration: .25s;
  transition-property: all;
  font-family: "Font Awesome 6 Free";
  font-weight: 400;
  content: "\f075";
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
}

.is-mini .p-postCardAction_item:before {
  font-size: 18px;
}

.p-postCardAction_item.is-like:before {
  font-family: "Font Awesome 6 Free";
  font-weight: 400;
  content: "\f004";
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
}

.p-postCardAction_item span {
  position: relative;
  margin-left: 10px;
}

.is-mini .p-postCardAction_item span {
  top: -1px;
  font-size: 14px;
}

.is-mini .p-postCardAction_item.is-comment span {
  top: -3px;
}

.p-sakatsu_more {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.c-button {
  position: relative;
  border: none;
  border-radius: 12px;
  display: inline-block;
  box-sizing: border-box;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  margin: 0 auto;
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transition-duration: .25s;
  transition-property: all;
}

.c-button a, .c-button button {
  position: relative;
  border: none;
  border-radius: 8px;
  background: #0051e0;
  display: block;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  width: 100%;
  padding: 14px 54px;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transition-duration: .3s;
  transition-property: opacity transform height;
}

.desktop .c-button a:hover, .desktop .c-button button:hover {
  text-decoration: none;
  opacity: .8;
  cursor: pointer;
}

.uq-topPickupBanner {
  width: 1100px;
  margin: 10px auto 70px;
}

.uq-topPickupBanner_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
}

.uq-topPickupBanner_item {
  margin-bottom: 20px;
}

.is-grid3 .uq-topPickupBanner_item {
  width: 348px;
}

.uq-topPickupBanner_item a {
  border-radius: 16px;
  display: block;
  overflow: hidden;
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transition-duration: .3s;
  transition-property: all;
}

.uq-topPickupBanner_item a img {
  width: 100%;
  height: auto;
}

.uq-toplottery {
  margin-bottom: 100px;
  width: 1100px;
  margin-right: auto;
  margin-left: auto;
}

.p-goodsList {
  position: relative;
  width: 1100px;
  margin: auto;
}

.p-goodsList_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.p-goodsCard {
  position: relative;
  border-radius: 16px;
  background: #fff;
  z-index: 0;
  overflow: hidden;
  width: 23.0909090909%;
  margin-bottom: 21px;
}

.p-goodsCard a {
  display: block;
}

.p-goodsCard_image {
  border-radius: 16px 16px 0 0;
  overflow: hidden;
}

.p-goodsCard_image img {
  position: relative;
  width: 100%;
  height: auto;
}

.is-sauna .p-goodsCard_image img {
  top: 15px;
}

.p-goodsCard_tag {
  position: absolute;
  top: 20px;
  left: 20px;
  border-radius: 4px;
  background: #333;
  display: inline-block;
  font-size: 10px;
  font-weight: 700;
  line-height: 1;
  color: #0051e0;
  color: #fff;
  padding: 4px 8px;
}

.p-goodsCard_content {
  padding: 20px 0 0;
}

.p-goodsCardTitle {
  display: block;
  margin-bottom: 10px;
  padding: 0 20px;
}

.p-goodsCardTitle_name {
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.25;
  color: #888;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.p-goodsCardTitle_item {
  display: block;
  font-size: 20px;
  line-height: 1.4;
  margin-top: 10px;
}

.uq-toplottery .p-goodsList .p-goodsCardTitle_item {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.p-goodsCard_body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 0 20px;
}

.p-goodsCardTonttu_count {
  display: block;
  margin-bottom: -5px;
  position: relative;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
  padding-left: 30px;
}

.p-goodsCardTonttu_count:before {
  position: absolute;
  top: 4px;
  left: -1px;
  background: url(./images/tonttu.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  content: "";
  width: 30px;
  height: 30px;
}

.p-goodsCardWin {
  position: relative;
  top: 2px;
  border-radius: 30px;
  background: #0051e0;
  display: flex;
  align-items: baseline;
  font-size: 10px;
  line-height: 1;
  color: #fff;
  padding: 4px 10px 6px;
}

.p-goodsCardWin p {
  position: relative;
  top: 1px;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  margin-right: 3px;
}

.p-goodsCardFooter {
  position: relative;
  border-top: 1px solid #f3f3f3;
  background: #f9f9f9;
  background: #fff;
  padding: 10px 20px 14px;
}

.p-goodsCardState {
  position: relative;
}

.p-goodsCardState_lists {
  line-height: 1;
}

.p-goodsCardState_list {
  display: inline;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  line-height: 1;
}

.p-goodsCardState_list p {
  display: inline-block;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  color: #0051e0;
  text-align: right;
  margin: 0 3px 0 10px;
}

.p-goodsCardState_list:first-of-type:after {
  position: relative;
  top: -1px;
  content: "/";
  color: #888;
  margin: 0 5px;
}

.p-goodsCardState_list:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.uq-toplottery_more {
  text-align: center;
  /* margin-top: 16px; */
}

.uq-topSauna {
  margin-bottom: 80px;
  width: 1100px;
  margin-right: auto;
  margin-left: auto;
}

.p-saunaList {
  border-bottom: 1px solid #eee;
  margin-bottom: 35px;
}

.p-saunaList--grid {
  width: calc(100% + 10px);
  border-bottom: none;
  margin-bottom: -60px;
}

.uq-topSauna .p-saunaList {
  margin-bottom: 0;
  border: none;
}

.p-saunaList_content {
  width: auto;
}

.p-saunaList--grid .p-saunaList_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.p-saunaItem {
  position: relative;
  border-bottom: 1px solid #eee;
  background: #fff;
  z-index: 1;
  padding: 20px 0;
}

.p-saunaItem.p-saunaItem--grid {
  border-bottom: 0;
  border-radius: 12px;
  box-sizing: border-box;
  overflow: hidden;
  width: 23.0909090909%;
  margin: 0 0 30px;
  padding: 0;
}

.uq-topSauna .p-saunaList .p-saunaItem.p-saunaItem--grid {
  margin-bottom: 0;
}

.p-saunaItem>a {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  z-index: 1;
  text-decoration: none;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transition-duration: .3s;
  transition-property: opacity transform height;
}

.p-saunaItem.p-saunaItem--grid>a {
  box-sizing: border-box;
  margin: auto;
  padding: 0;
}

.p-saunaItem_image {
  position: relative;
  top: -65px;
  width: 20.2380952381%;
  height: 154px;
  min-height: 116px;
  margin: 0 30px -65px 0;
}

.p-saunaItem--grid .p-saunaItem_image {
  top: 0;
  width: 100%;
  margin: 0;
}

.p-saunaItem_image:before {
  display: block;
  content: "";
  padding-top: 75%;
}

.p-saunaItem_image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.p-saunaItem_content {
  display: flex;
  width: 100%;
}

.p-saunaItem--grid .p-saunaItem_content {
  display: block;
  box-sizing: border-box;
  padding: 20px;
}

.p-saunaItem_header {
  position: relative;
  left: 234px;
  width: 76.1904761905%;
}

.p-saunaItem--grid .p-saunaItem_header {
  left: 0;
  width: 100%;
}

.p-saunaItemOpenday {
  display: flex;
  align-items: center;
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 14px;
  color: #0051e0;
}

.p-saunaItem--grid .p-saunaItemOpenday {
  font-size: 12px;
  margin-bottom: 2px;
}

.p-saunaItem--grid .p-saunaItem_name {
  line-height: 1.5;
  margin-bottom: 5px;
}

.p-saunaItem_data {
  position: relative;
  top: -6px;
  width: 76.1904761905%;
}

.p-saunaItem--grid .p-saunaItem_data {
  top: 0;
  width: 100%;
}

.p-saunaItem--grid .p-saunaItemSpec {
  display: block;
  margin-bottom: 10px;
}

.p-saunaItem--grid .p-saunaItemSpec_content {
  margin-right: 0;
}

.p-saunaItemSpec_content--unisex .p-saunaItemSpec_headline {
  background: #555;
}

.p-saunaItem--grid .p-saunaItemSpec_headline {
  position: relative;
  top: -1px!important;
  border-radius: 12px;
  font-size: 10px;
  line-height: 16px;
  text-align: center;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  padding: 0;
}

.p-saunaItem--grid .p-saunaItemSpec_item {
  font-size: 10px;
  margin-right: 5px;
  margin-bottom: 0;
}

.p-saunaItem--grid .p-saunaItemSpec_icon {
  top: -1px!important;
  font-size: 10px;
  line-height: 16px;
  width: 16px;
  height: 16px;
  margin-right: 2px;
}

.p-saunaItem--grid .p-saunaItemSpec_value {
  top: -1px!important;
  font-size: 12px;
}

.p-saunaItemSpec_value>img {
  position: relative;
  top: -3px;
  width: 13px;
  height: auto;
}

.p-saunaItemSpec_item:last-of-type {
  margin-right: 0;
}

.uq-topSaunaMore {
  text-align: center;
}

.uq-topSauna .c-button {
  margin-top: 40px;
}

.uq-topSauna .c-button a {
  display: block;
}

.uq-topSaunaMore_future {
  font-weight: 700;
  margin-top: 40px;
}

.uq-topSaunaMore_future a {
  padding: 20px 0;
  color: #888;
}

.p-wanted {
  border-radius: 16px;
  background-image: url(./images/wanted.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  overflow: hidden;
  width: 100%;
  width: 1100px;
  height: 420px;
  margin-right: auto;
  margin-bottom: 100px;
  margin-left: auto;
}

.p-wanted_content {
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  width: 100%
}

.p-wantedHeadline_en {
  display: block;
  font-family: Montserrat;
  font-size: 60px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 25px;
}

.p-wantedComplete {
  text-align: center;
}

.p-wantedComplete_text {
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: .05em;
  margin-bottom: 10px;
}

.p-wantedComplete_remaining {
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: .05em;
  margin-bottom: 40px;
}

.p-wantedComplete_remaining strong {
  font-family: Montserrat;
  font-size: 56px;
}

.p-wantedComplete .c-button a {
  border: 2px solid #fff;
  background: none;
  color: #fff;
  padding: 8px 50px;
}

.p-storeGoods {
  position: relative;
  box-sizing: border-box;
  width: 1100px;
  margin: 40px auto;
}

.uq-topStoreGoods {
  margin-bottom: 80px;
}

.uq-topStoreGoods .p-headlineHeader {
  padding: 0;
}

.p-storeGoodsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
}

.p-storeGoodsCard {
  position: relative;
  z-index: 0;
  overflow: hidden;
  width: 17.8181818182%;
  margin-bottom: 21px;
}

.p-storeGoodsCard a {
  display: block;
  text-decoration: none;
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transition-duration: .3s;
  transition-property: all;
}

.p-storeGoodsCard_image {
  margin-bottom: 10px;
}

.p-storeGoodsCard_image img {
  position: relative;
  width: 100%;
  height: auto;
}

.p-storeGoodsCard_name {
  font-size: 14px;
}

.uq-topMagazine {
  background: #fff;
  box-sizing: border-box;
  margin-bottom: 85px;
}

.uq-topMagazine_content {
  padding: 90px 0;
  width: 1100px;
  margin-right: auto;
  margin-left: auto;
}

.p-saunaCardList {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.uq-topMagazine .p-saunaCardList {
  margin-bottom: 0;
}

.p-saunaCard {
  position: relative;
  text-align: left;
  width: 348px;
  margin: 0 0 40px;
}

.uq-topMagazine .p-saunaCardList .p-saunaCard {
  margin-bottom: 0;
}

.p-saunaCard a {
  display: block;
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transition-duration: .3s;
  transition-property: all;
}

.p-saunaCard a:hover {
  text-decoration: none;
}

.p-saunaCard_image {
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 15px;
}

.p-saunaCard_image img {
  width: 100%;
  height: auto;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.p-saunaCard_image img {
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transition-duration: .3s;
  transition-property: all;
}

.p-saunaCard_title {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
}

.p-saunaCard_date {
  font-size: 12px;
}

.uq-topMagazine_more {
  text-align: center;
}

.uq-topMagazine .c-button {
  margin-top: 20px;
}

.uq-topNews {
  margin-bottom: 80px;
  width: 1100px;
  margin-right: auto;
  margin-left: auto;
}

.c-lead a {
  text-decoration: underline;
}

.uq-topNews .l-content {
  padding: 40px;
}

.uq-topNews .p-news_content::-webkit-scrollbar {
  position: relative;
  width: 3px;
}

.uq-topNews .p-news_content::-webkit-scrollbar-thumb {
  background: #575757;
  background: #0051e0;
  box-shadow: none;
}

.uq-topNews .p-news_content::-webkit-scrollbar-track {
  border: 2px solid #ddd;
}

.uq-topNews .p-news_content {
  position: relative;
  overflow-y: scroll;
  height: 290px;
  padding-right: 40px;
}

.p-news_list {
  display: flex;
  margin-bottom: 20px;
}

.p-news_date {
  margin: 0 30px 0 0;
  color: #888;
}

.p-news_list a {
  text-decoration: none;
}

.p-news_list:last-child {
  margin-bottom: 0;
}

.p-banner {
  box-sizing: border-box;
  width: 1100px;
  margin: 0 auto 60px;
}

.p-banner_content {
  overflow: hidden;
  margin-bottom: -20px;
}

.p-banner_item {
  float: left;
  width: 348px;
  margin: 0 22px 22px 0;
}

.p-banner_item a {
  border-radius: 16px;
  display: block;
  overflow: hidden;
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transition-duration: .3s;
  transition-property: all;
  box-sizing: border-box;
}

.p-banner_item img {
  width: 100%;
  height: auto;
  image-rendering: -webkit-optimize-contrast;
}

.p-banner_item:nth-of-type(3n) {
  margin-right: 0;
}

.uq-topGoods {
  border-radius: 16px;
  background-image: url(./images/goods.png);
  background-repeat: no-repeat;
  background-position: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 510px;
  margin-bottom: 80px;
  width: 1100px;
  margin-right: auto;
  margin-left: auto;
}

.uq-topGoods_content {
  color: #fff;
  text-align: center;
  width: 1100px;
  margin-right: auto;
  margin-left: auto;
}

.uq-topGoods_headline {
  display: block;
  font-family: Montserrat;
  font-size: 60px;
  line-height: 1;
  letter-spacing: .1em;
  margin-bottom: 25px;
}

.uq-topGoods_description {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: .1em;
  margin-bottom: 30px;
}

.uq-topGoods .c-button a {
  border: 2px solid #fff;
  background: none;
  color: #fff;
  padding: 8px 50px;
}

.c-loading {
  position: fixed;
  top: 0;
  left: 0;
  background: hsla(0,0%,100%,.9);
  z-index: 0;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  width: 100vw;
  height: 100vh;
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transition-duration: .35s;
  transition-property: all;
}

.c-loading_content {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  width: 100%;
  margin-top: 30px;
  margin-left: 0;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.c-loading_icon {
  width: 140px;
  height: 140px;
  margin: auto;
}

.c-loading_icon img {
  width: 140px;
  height: auto;
  margin-bottom: -20px;
}

.l-footer_content {
  width: 1100px;
  margin-right: auto;
  margin-left: auto;
}

.l-footerSearch {
  margin-bottom: 80px;
}

.l-footerSearch_content {
  box-sizing: border-box;
  margin-bottom: 60px;
}

.l-footerSearch_content--area {
  flex-basis: 65%;
}

.l-footerSearch_headline {
  font-size: 20px;
  line-height: 1;
  color: #0051e0;
  margin-bottom: 20px;
}

.l-footerSearch_area {
  display: flex;
}

.l-footerSearch_areaname {
  flex-basis: 12%;
}

.l-footerSearch_pref {
  flex-basis: 88%;
}

.l-footerSearch_link {
  display: inline-block;
  margin: 0 10px 5px 0;
  list-style-type: none;
}

.l-footerSearch_link a {
  font-size: 14px;
  text-decoration: underline;
}

.l-footerSearch_link a:hover {
  text-decoration: none;
  opacity: .7;
}

.l-footerSearch_content--conditions {
  flex-basis: 30%;
}

.l-footerSitemap {
  background: #0051e0;
  padding: 80px 0;
}

.l-footerSitemap_content {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  margin-right: auto;
  margin-left: auto;
}

.l-footerSitemap_main {
  flex: 1;
}

.l-footerSitemapItems {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.l-footerSitemapItem {
  width: calc(25% - 20px);
}

.l-footerSitemapItem_headline {
  font-size: 18px;
  color: #fff;
  margin-bottom: 10px;
}

.l-footerSitemapItem_link {
  position: relative;
  display: flex;
  margin-bottom: 5px;
}

.l-footerSitemapItem_link a[target=_blank]:after {
  font-family: "Font Awesome 6 Free";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: 900;
  text-decoration: none;
  text-transform: none;
  content: "\f08e";
  font-size: 10px;
  margin-left: 5px;
}

.l-footerSitemapItem_link:before {
  position: relative;
  top: 11px;
  left: 2px;
  background: #fff;
  display: block;
  content: "";
  opacity: .5;
  width: 5px;
  height: 1px;
  margin-right: 15px;
}

.l-footerSitemapItem_link a {
  font-size: 14px;
  color: #fff;
  text-indent: -1em;
  padding-left: 1em;
}

.l-footerSitemapItem_links+.l-footerSitemapItem_headline {
  margin-top: 20px;
}

.l-footerSitemapItem_link:last-child {
  margin-bottom: 0;
}

.u-desktopBlock {
  display: block;
}

.l-footerSitemap_foot {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  width: 1100px;
  margin-right: auto;
  margin-left: auto;
}

.l-footerNav {
  text-align: right;
  padding: 20px 0;
  flex-grow: 2;
}

.l-footerNav_links {
  margin-bottom: 20px;
}

.l-footerNav_link {
  display: inline-block;
  margin: 0 20px 0 0;
}

.l-footerNav_link a {
  font-size: 12px;
  color: #fff;
}

.l-footerNav_link:last-child {
  margin-right: 0;
}

.l-footerSns {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.l-footerSns_headline {
  position: relative;
  top: 5px;
  font-size: 12px;
  margin-right: 5px;
  margin-bottom: 0;
}

.l-footerSns_content {
  display: flex;
  align-items: center;
}

.l-footerSns_button {
  position: relative;
  width: 40px;
  height: 40px;
  margin: 0 3px 0 0;
}

.l-footerSns_button a {
  display: block;
  width: 100%;
  height: 100%;
}

.l-footerSns_button:after {
  position: absolute;
  top: 6px;
  left: 12px;
  font-size: 24px;
  color: #fff;
  pointer-events: none;
}

.l-footerSns_button:after {
  position: absolute;
  top: 6px;
  left: 12px;
  font-size: 24px;
  color: #fff;
  pointer-events: none;
}

.l-footerSns_button--twitter:after {
  content: "\f099";
}

.l-footerSns_button--instagram:after, .l-footerSns_button--twitter:after {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
  content: "\f099";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: 900;
  text-decoration: none;
  text-transform: none;
}

.l-footerSns_button--facebook:after {
  font-family: "Font Awesome 6 Brands";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: 900;
  text-decoration: none;
  text-transform: none;
  content: "\f39e";
}

.l-footerSns_button--instagram:after {
  content: "\f16d";
}

.desktop .l-footerSns_button:hover {
  opacity: .5;
}

.l-footerSitemap_logo {
  width: calc(21.85% - 20px);
}

.l-footerSitemap_logo img {
  width: 120px;
}

.l-footerSitemap_foot small {
  font-size: 10px;
  letter-spacing: .1em;
}

.l-footerSitemap_foot {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  width: 1100px;
  margin-right: auto;
  margin-left: auto;
}



@media only screen and (min-width: 1024px) {
  .uq-topPickupBanner_item a:hover {
    opacity: .75;
  }

  .p-storeGoodsCard a:hover {
    opacity: .7;
  }

  .p-saunaCard a:hover {
    opacity: .7;
  }
}